Header {
  background-color: lightpink;
  text-align: center;
}
body {
  background-color: lightsalmon;
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px;
}

.bookmark {
  margin: 10px;
}

.add-rating {
  background-color: lightcoral;
  text-align: center;
}

.bookmark {
  text-align: center;
  background-color: lightgoldenrodyellow;
}

.edit {
  background-color: lightcyan;
}